/* font-family: 'Bebas Neue', cursive; */
.title {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #2A77AE;
  margin-bottom: 10px;
}
